* {
    all: initial;
}

window {
    margin: 0px;
    background-color: #24567F;
    border-radius: 0px;
    color: #e0def4;
    font-family: 'Fira Code Nerd Font';
    font-size: 14px;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-color: #b2ceee;
    background-color: #296596;
    box-shadow: none;    
}

#input image { 
    padding: 10px;
    color: #b2ceee; 
}

# input prompt {
   color: #000000; 
} 

#inner-box {
    margin-top: 16px;
    border: none;
    border-radius: 0px;
}

#outer-box {
    margin: 16px;
    border: none;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #e0def4;
} 

#entry:selected {
    background-color: #b2ceee;
    border-radius: 0px;
    outline: none;
}

#entry:selected * {
    color: #080808;
}

#entry image {
    padding: 10px;
}
